html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font: 1rem sans-serif;
  background-color: #293462;
  display: flex;
  justify-content: center;
}
/* App */
.App {
  text-align: center;
}
/* Content */
.content {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  margin-top: 16px;
}
img {
  max-width: 520px;
  height: auto;
  max-height: 500px;
  object-fit: contain;
}
h1,
h2 {
  position: absolute;
  margin: 0;
  width: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  /* text-shadow: 0px 0px 2px black; */
  -webkit-text-stroke: 3px black;
  line-height: 1;
}
h1 {
  top: 16px;
}
h2 {
  bottom: 32px;
}
/* Form */
.form {
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form_inputs {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.form_inputs,
.form_btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
}
.form_inputs {
  padding: 15px;
}
.form_inputs input,
.form_btns .btn  {
  border-radius: 5px;
  margin: 10px;
}
.form_inputs input {
  width: 100%;
  border: 1px solid #6ea0f1;
  padding: 15px;
  background-color: #0767b2;
  color: rgb(240, 233, 233);
  font-size: 1.2em;
}
.form_inputs input::placeholder {
  color: #6ea0f1;
}
.form_inputs input:focus {
  outline-color: #0984e3;
}
.form_inputs input + input,
.form_btns .btn + .btn {
}
.form_btns {
}
.form_btns .btn {
  cursor: pointer;
  color: #fff;
  transition: background .25s ease-in-out;
}
/* Buttons */

.btn {
  display: flex;
  flex-direction: column;
  border: 1px #eea0a0 solid;
  width: 150px;
  height: 40px;
  justify-content: center;
  text-align: center;
}

.btn-primary {
  background: #f76262;
}
.btn-primary:hover {
  background: #0767b2;
  border: 1px #6ea0f1 solid;
}
.btn-danger {
  background: #d63031;
}
.btn-danger:hover {
  background: #b02324;
  border: 1px #df6c6c solid;
}

.result {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 40px;
  margin: 30px;
  background-color: #df6c6c;
}